{% comment %}
<div class="custom-cl">
{% assign number1 = 10 %}
{% assign number2 = 5 %}
<p>Subscription is {{ number1 | minus: number2 }}</p>
</div>
{% endcomment %}

{% comment %}
logical operators fundamentals for shopify

|| = or
&& = and

if = if
else if = elsif
else = else
endif
{% endcomment %}{% comment %}
<div class="custom-cl">
{% assign result = 100 %}
{% if result > 100 %}
<p>Your marks must be between 0 to 100.</p>
{% elsif result >= 80 and result <= 100 %}
<p>Your have got A+.</p>
{% elsif result >= 70 and result < 80 %}
<p>Your have got A.</p>
{% elsif result >= 60 and result < 70 %}
<p>Your have got A-.</p>
{% elsif result >= 50 and result < 60 %}
<p>Your have got B.</p>
{% else %}
<p>jaiya porte bosho.</p>
{% endif %}
</div>
{% endcomment %}{% comment %}
{% assign color = "red" %}
{% if color == "green" %}
<p>The name of the color is {{ color }}</p>
{% else %}
<p>The color name is {{ color }}</p>
{% endif %}
{% endcomment %}{% comment %}
{% endcomment %}<div>
  {% assign color = 'blue' %}
    {% case color %}
    {% when 'green' %}
    The color is
    {{ color }}
    {% when 'blue' %}
    The color is
    {{ color }}
  {% else %}
    None of the above color is right.
  {% endcase %}
</div>

{% comment %} <div class="custom-cl">
{% for i in (1..5) %}
{{ "I love my mother" | downcase }}
{% endfor %}
</div> {% endcomment %}<div class="myVariable">
  {% assign myVar = 'This is my variable' | upcase %}
  {{ myVar }}

  <br>
  {% comment %} {% assign num1 = 10 %}
  {% assign num2 = 20 %}
  {% assign num3 = 40 %}

  Addition {{ num1 | plus: num2 }}
  <br>
  Substraction {{ num1 | minus: num2 }}
  <br>
  Multiply {{ num1 | times: num2 }}
  <br>
  Divided {{ num1 | divided_by: num2 }} {% endcomment %}</div>

{% assign color = "red" %}
{% case color %}
  {% when "red" %}
  Color is {{ color }}
  {% when "blue" %}
  Color is {{ color }}
{% else %}
  No color matches.
{% endcase %}
<br>{% comment %} {% if num1 > num2 and num1 > num3 %}
  Number 1 is the greather.
  {% endif %} {% endcomment %}{% comment %}
  <style>
  .custom-cl {
  display: flex;
  width: 100vw;
  height: 50vh;
  justify-content: center;
  align-items: center;
  }
  </style>
  {% endcomment %}{% comment %}

  //! loops again {% endcomment %}<div class="newLoop"> {% for i in (1..10) %}
    {% if forloop.first %}
      the first index of this loop. <br>
    {% elsif forloop.last %}
      The last index of this loop. <br>
    {% else %}
      The index is {{ i }} <br>
    {% endif %}

  {% endfor %}
</div>

<div style="text-align: center; font-size: 24px;">
  {{ page.title }}
</div>

<style>
  .newLoop {
    color: red;
    font-weight: 700;
    text-align: center;
  }
  .myVariable {
    font-size: 20px;
    font-weight: bold;
  }
</style>